/********************** Taille et police par défaut ***********************/

html
{
	font-size: 100%;
}

*
{
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	text-align: center;
	font-weight: 300;
	box-sizing: border-box;
	text-shadow: 0px 0px 3px rgba(0,0,0,0.25);
}


/* Titre */

h1
{
	font-family: Raleway;
}

/* Liens */
a
{ 
	color: inherit;
	text-decoration: none;
	font-family: inherit;
}

/* Souligné */
u
{
	display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    margin: 0 0 5px 0;
}






/********************* Elements Communs **********************************/

/* Imgs */

img
{
	border-radius: 500px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

/* Sections premier plan */
.bgOpaque
{
	width: 100%;
	background-color: rgba(100,100,100,0.85);
}






/********************* Page **********************************************/

/* Fond */

html
{
	height: 100%;
}

body
{
	margin: 0;
	min-height: 100%;
	background: #444 url("./imgs/bg.jpg") no-repeat center fixed;
	background-size: cover;
}





/* Top */
header
{
	padding: 3px 8px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.35);
}


header .wrapper
{
	width: 100%;
	max-width: 800px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header h1
{
	margin: 5px;
	text-align: left;
	font-size: 28px;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	vertical-align: middle;
	display: inline-block;
}


header .pseudo
{
	margin: 5px;
	border-radius: 5px; 
	display: inline-block;
	text-align: right;
	vertical-align: middle;
}


/* Section */

section
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 51px; /* Taille du header */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}


/* Dices */

.dice
{
	width: 80px;
	height: 80px;
	margin: 10px;
	border-radius: 12px;
	border: #fff solid 3px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.25), inset 1px 1px 4px rgba(0,0,0,0.05);
}


/* Buttons */

.buttons
{
	margin: 15px 0 0 0;
	display: flex;
	justify-content: space-around;
	width: 100%;
	position: fixed;
	bottom: 240px;
}


input[type=submit]
{
	border: #fff solid 1px;
	padding: 5px 10px;
	text-shadow: 1px 1px 4px rgba(0,0,0,0.25);
	box-shadow: 1px 1px 4px rgba(0,0,0,0.25), inset 1px 1px 4px rgba(0,0,0,0.05);
	background-color: rgba(100,100,100,0.5);
	cursor: pointer;
	outline: none;
}

input[type=submit]:active
{
	background-color: #fff;
	border: #fff solid 1px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.25);
	text-shadow: none;
	color: #666;
}

.cacher, .roll
{
	border-radius: 5px;
	width: 70px;
}

.removeDice, .addDice
{
	display: inline-block;
	width: 45px;
	height: 45px;
	font-family: Raleway;
	font-size: 40px;
	border-radius: 500px;
}

.removeDice
{
	line-height: 0px;
}

.addDice
{
	line-height: 23px;
}



/* Bottom */
footer
{
	box-shadow: 0 -1px 3px rgba(0,0,0,0.35);
	padding: 8px 10px;
	font-size: 20px;
	height: 216px;
	position: fixed;
	bottom: 0;
}

.chat
{
	height: 200px;
	overflow-y: scroll;
}

.chat b
{
	font-weight: bold;
	color: #54e6fb;
}

.chat em
{
	font-style: italic;
	color: #91ff00;
}

.chat p
{
	margin: 0;
	font-size: 12px;
	line-height: 1.1em;
	margin: 0 0 8px 0;
	text-align: left;
}


@media (max-height:560px) {

footer {height: 156px;}
.chat {height: 140px;}
.buttons {bottom: 190px;}


}